body {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 33, 87, 1) 50%, rgba(0, 84, 133, 1) 100%);
}


img {
    height: 200px;
}

.btn {
    display: flex;
    gap: 10px;
}

#display {
    font-size: 65px;
    font-family: "Sixtyfour", sans-serif;
    color: #fff;
    border-color: #000;
    border: 5px;
}

button {
    width: 72px;
    height: 45px;
    border-radius: 15px;
    border: none;
    transition-duration: 0.4s;
    font-family: "Zen Dots", sans-serif;
    font-size: 12px;
}

#btnI {
    background-color: rgb(17, 57, 121);
    color: rgb(2, 18, 43);
}

#btnI:hover{
    background-color: rgb(34, 83, 161);
    color: rgb(98, 145, 221);

}

#btnP {
    background-color: rgb(17, 57, 121);
    color: rgb(2, 18, 43);
}

#btnP:hover{
    background-color: rgb(34, 83, 161);
    color: rgb(98, 145, 221);
}

#btnR {
    background-color: rgb(17, 57, 121);
    color: rgb(2, 18, 43);
}

#btnR:hover {
    background-color: rgb(34, 83, 161);
    color: rgb(98, 145, 221);
}